.books-grid .img-cell {
    text-align: center;
}

.books-grid .img-cell img {
    max-width: 50px;
    max-height: 50px;
}

.books-grid .button-column {
    min-width: 120px;
}

div.form label.date-range-label {
    display: inline;
}

.filter-submit-button {
    float: right;
}